name: Dofus RSS Monitor
on:
  schedule:
    - cron: '*/5 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install feedparser requests python-dotenv

      - name: Run script
        env:
          WEBHOOK_NEWS: ${{ secrets.WEBHOOK_NEWS }}
          WEBHOOK_DEVBLOG: ${{ secrets.WEBHOOK_DEVBLOG }}
          WEBHOOK_CHANGELOG: ${{ secrets.WEBHOOK_CHANGELOG }}
        run: python check_dofus.py

      - name: Commit and push changes
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          if ls *.txt 1> /dev/null 2>&1; then
            git add *.txt
            git commit -m "Update last RSS IDs" || echo "No changes to commit"
            git push
          else
            echo "Aucun fichier .txt trouvé, rien à commit."
          fi